    #title {
      background-color: #ff4c68 !IMPORTANT;
      font-style: Montserrat;
    }

    .container-fluid {
      padding: 3% 15% 7%;
      color: #fff;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3.5rem;
      line-height: 1.5;
    }

    h2 {
      font-size: 3rem;
      line-height: 1.5;
    }

    h2, h3 {
      font-weight: bold;
    }

    .hh {
      color: white;
      font-family: Montserrat;
      font-size: 3rem;
    }

    p {
      color: #8f8f8f;
    }

    /* navigation customization */
    .navbar-brand {
      font-size: 2.5rem;
      font-family: 'Ubuntu';
      font-weight: bold;
    }

    .navbar {
      padding: 0 0 4rem;
    }

    .nav-item {
      padding: 0 18px;
    }

    .nav-link {
      font-size: 1, 5rem;
      font-family: 'Montserrat-light';
    }

    /*  download-button */
    .download-button {
      margin: 15px 7px 15px;
    }

    /* title-image */
    .title-image {
      width: 60%;
      transform: rotate(25deg);
      position: absolute;
      right: 30%;
    }

    @media (max-width: 992px) {
      .title-image {
        position: static;
        center: 50%;
        transform: rotate(0deg);
      }

      .titlee {
        text-align: center;
      }
    }

    /* emoji */
    .emoji {
      margin-bottom: 1rem;
      color: #ef8172;
    }

    .emoji:hover {
      color: pink;
    }

    /* features */
    #features {
      margin: 0% 15%;
      padding-top: 7%;
      padding-bottom: 7%;
      text-align: center;
      position: relative;
      background-color: white;
    }

    .fea {
      padding: 5%;
    }

    /* testimonials section */
    #testimonials {
      text-align: center;
      background-color: #ef8172;
      color: #fff;
    }

    .testimonial-img {
      width: 10%;
      border-radius: 100%;
      margin: 20px;
    }

    #press {
      background-color: #ef8172;
      text-align: center;
      padding-bottom: 40px;
    }

    .press-logo {
      width: 15%;
      margin: 20px 20px 50px;
    }

    .carousel-item {
      padding: 7% 15%;
    }

    /* pricing */
    #pricing {
      padding: 100px;
      text-align: center;
    }

    .pricing-coloumn {
      padding: 3% 2%;
    }

    /* footer */
    #cta {
      background-color: #ff4c68;
      text-align: center;
    }

    .ctac {
      padding-top: 150px;
      padding-bottom: 150px;
      padding-left: 200px;
      padding-right: 200px;
    }

    #cta .container-fluid {
      padding: 15% 7%;
    }

    #footer {
      padding: 7% 15%;
      text-align: center;
    }

    .scial {
      margin: 20px 10px;
    }
